body {
    font-family: "SF Mono", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator {
    border-radius: 20px;
    background-color: #e5e5e5;
    padding: 32px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.display {
    width: 100%;
    margin-bottom: 1rem;
    text-align: right;
    padding: 0.5rem;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: 2rem;
    height: 80px;
    border: none;
    box-shadow: inset 0px -4px 4px rgba(0,0,0,0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

button {
    background-color: #f5f5f5;
    border: none;
    font-size: 2rem;
    padding: 16px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: rgba(0,0,0,0.05);
}

.orange {
    background-color: #ff9500;
    color: #fff;
}

.gray {
    color: #8e8e93;
}

.zero {
    grid-column: 1 / 3;
}
